.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--space-md);
  border: 1px solid transparent;
  background-color: var(--color-green);
  color: var(--color-black);
  font-family: var( --font-stack);
  font-size: var(--font-size-body);
  text-transform: uppercase;
}

.button:hover {
  background: var(--color-black);
  border: 1px solid var(--color-green);
  color: var(--color-gray-light);
  cursor: pointer;
}

.button svg {
  width: 12px;
  height: 12px;
  fill: var(--color-black);
  margin-left: var(--space-md);
}

.button:hover svg {
  fill: var(--color-gray-light);
}

.button[disabled] {
  background: var(--color-black);
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
  pointer-events: none;
}

.button[disabled] svg {
  fill: var(--color-gray);
}