.password-input-wrapper {
  position: relative;
  background-color: var(--color-gray-dark);
  color: var(--color-gray-light);
  padding: var(--space-md);
}

.password-input {
  display: block;
  width: 85%;
  position: relative;
  color: var(--color-gray-light);
  background-color: var(--color-gray-dark);
  border: none;
  font-family: var(--font-stack);
  font-size: var(--font-size-h1);
  font-weight: bold;
}

.password-input::placeholder {
  color: var(--color-gray);
}

.password-input:focus {
  border: none;
  outline: none;
}

.password-copy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
  font-weight: bold;
}

.password-copy.active {
  color: var(--color-green);
  font-size: 1.125rem;
}

.password-copy:hover {
  cursor: pointer;
}

.password-copy-text {
  font-family: var(--font-stack);
  text-transform: uppercase;
  padding-right: 1rem;
  opacity: 0;
}

.password-copy.active .password-copy-text {
  animation: textanimation 2s ease-out;
}

@keyframes textanimation {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.password-copy-icon {
  width: 21px;
  height: 24px;
  fill: var(--color-green);
}

.password-copy:hover 
.password-copy-icon {
  fill: var(--color-gray-light);
}

.password-copy.active:hover 
.password-copy-icon {
  fill: var(--color-green);
}

.password-copy[disabled]
.password-copy-icon {
  fill: var(--color-gray);
}

.password-copy[disabled],
.password-copy[disabled]:hover,
.password--input-disabled input {
  pointer-events: none;
  cursor: initial;
}