:root {
  --color-black: #18171F;
  --color-gray-dark: #24232C;
  --color-gray: #817D92;
  --color-gray-light: #E6E5EA;
  --color-green: #A4FFAF;
  --color-red: #F64A4A;
  --color-orange: #FB7C58;
  --color-yellow: #F8CD65; 
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-gray-light);
}

.wrap {
  max-width: 33.75rem;
  margin: 0 auto;
}