@font-face {
  font-family: 'JetBrainsMono';
  src: local('JetBrainsMono'), url(./fonts/JetBrainsMono-Bold.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'JetBrainsMono',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
